#sliders {
    height: 400px;
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.gallery-header {
    display: none;
}
#spinner-container {
    margin-top: 50px;
    margin-bottom: 30px;
}
#spinner {
    width: 3em;
    height: 3em;
}

.slider-item {
    display: none;
}

.img-thumbnail {
    cursor: pointer;
}

.added {
    border: 2px solid #1e1743;
    border-radius: 5px;
}

img {
    height: 400px;
    object-fit: cover;
}

.prev-next {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}

.prev,
.next {
    background-color: transparent;
    padding: 8px 10px;
    color: #fff;
}

.dot {
    background-color: rgb(163, 156, 156);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 3px;
}

.main {
    display: none;
}
/* Show error message if an image not found */
.image-not-found {
    row-gap: 30px;
    width: 75%;
    border-radius: 15px;
    padding: 10px;
    background-color: #feda94;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.image-not-found > h1 {
    color: red;
    font-size: 22px;
}
#search-again {
    margin-top: 50px;
}
#selected-img-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 105, 217, 0.8);
    font-size: 16px;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    color: white;
    bottom: 20px;
    right: 20px;
}
#selected-img-container > h3 {
    margin: auto;
}
@media (max-width: 767px) {
    .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
        flex-direction: column;
    }
    #sliders {
        height: 300px;
        width: 90%;
    }
}
